version: 2

registries:
  github-nuget:
    type: nuget-feed
    url: https://nuget.pkg.github.com/DFE-Digital/index.json
    token: ${{ secrets.DEPENDABOT_DFEDIGITAL_NUGETFEED_TOKEN }}

updates:
  - package-ecosystem: "npm"
    directory: "DfE.GIAP.All/src/DfE.GIAP.Web"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
    labels: 
    - "dependencies-javascript"

  - package-ecosystem: "nuget"
    directory: "DfE.GIAP.All/"
    registries:
      - github-nuget
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
    labels: 
    - "dependencies .NET"    
    ignore:
    # FluentAssertions V8 requires a commercial license
      - dependency-name: FluentAssertions
        versions:
          - ">=8.0.0"


  - package-ecosystem: "dotnet-sdk"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major" # updates to the major .NET version should be planned
    labels: 
    - "dependencies-dotnet_sdk_package_manager"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
    labels: 
    - "dependencies-github_actions"
