services:
  certgenerator:
      image: wiremock-certgenerator
      build:
        context: .
        dockerfile: Dockerfile.CertGenerator
      volumes:
        - ${SHARED_CERTIFICATES}:/certs
      environment:
      - WIREMOCK_KEYSTORE_STOREPASSWORD=${WIREMOCK_KEYSTORE_STOREPASSWORD}
      - WIREMOCK_KEYSTORE_KEYPASSWORD=${WIREMOCK_KEYSTORE_KEYPASSWORD}
  cosmosdb:
    image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:latest@sha256:53724d515b65a93238113a8f981df62ce238a93685fd2061cfb60444f881e2cf
    ports:
      - 8081:8081
      - 10250-10255:10250-10255
    environment:
      AZURE_COSMOS_EMULATOR_PARTITION_COUNT: 5
      AZURE_COSMOS_EMULATOR_ENABLE_CERT_AUTH: true
    network_mode: host
  wiremock: 
    image: sheyenrath/wiremock.net@sha256:1f33b682c19dfc36795be33df0820f017e6ad0e1e10bbd6e13cf63fb325c2f5a
    ports: 
    - "8443:8443"
    volumes:
    - ${SHARED_CERTIFICATES}:/certs:ro
    # TODO can I comment out below
    entrypoint:
      - "dotnet"
      - "./wiremock-net.dll"
    command:
      - "--WireMockLogger"
      - "WireMockConsoleLogger"
      - "--Urls"
      - "https://*:8443"
      - "--X509CertificateFilePath"
      - "/certs/wiremock-cert.pfx"
      - --X509CertificatePassword
      - "yourpassword"

  # wiremock:
  #   image: wiremock/wiremock:3.3.1
  #   ports:
  #     - "8443:8443"
  #   volumes:
  #     - ${SHARED_CERTIFICATES}:/certs:ro
  #   entrypoint:
  #     - /docker-entrypoint.sh
  #     - --https-port
  #     - "8443"
  #     - --https-keystore
  #     - /certs/wiremock-keystore.jks
  #     - --keystore-password
  #     - ${WIREMOCK_KEYSTORE_STOREPASSWORD}
  #     - --keystore-type
  #     - JKS  
  #     - --key-manager-password
  #     - ${WIREMOCK_KEYSTORE_KEYPASSWORD}
  #     - --verbose
  #   restart: unless-stopped
  integration-tests:
    image: giapweb-core-integration-tests:latest
    build:
      context: .
      dockerfile: Dockerfile.IntegrationTests
      secrets:
        - nuget_config
    depends_on:
      - cosmosdb
      - wiremock
    network_mode: host
    volumes:
      # Mount CA enabling WireMock
      - ${SHARED_CERTIFICATES}:/usr/local/share/ca-certificates/shared-certs:ro
      # Test coverage reports
      - type: bind
        source: coverage-integration/
        target: /coverage-integration

# uses Docker BuildKit - not available at runtime or part of image layers
secrets:
  nuget_config:
    file: DfE.GIAP.All/nuget.config