<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="xunit" />
      <package pattern="Moq" />
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="dfedigital">
      <package pattern="DfE.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>

