@{
    if (User.IsAdmin() ||
            User.IsOrganisationEstablishmentWithFurtherEducation() ||
                User.IsEstablishmentWithAccessToULNPages() ||
                    User.IsDfeUser())
    {
        <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" asp-controller="FELearnerNumber" asp-action="PupilUlnSearch" id="header--search-uln--link">
                Search ULN
            </a>
        </li>
    }
}
