@model ConfirmationViewModel
@{
    ViewBag.Title = @Model.Title;
}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            @Model.Title
        </h3>
        <p class="govuk-body">@Model.Body</p>
        <p class="govuk-body">
            Click <a href="/content/manage-news-articles" class="govuk-link">here</a> to return to the start
        </p>
    </div>
</div>
