@model ConsentViewModel
@{
    ViewData["Title"] = "System consent";
}

<h1 class="govuk-heading-xl">
    Get information about pupils
</h1>
<h2 class="govuk-heading-l">
    System consent
</h2>

<ul class="govuk-list govuk-list--bullet">
    <li>I confirm that I have read and understood the terms and conditions for the use of the GIAP system</li>
    <li>I confirm that I will use the GIAP system solely for the purposes stated within the GIAP terms and conditions</li>
    <li>I understand that all my actions within the GIAP system are logged and can be retrieved by DfE</li>
    <li>I confirm that I will only use the non-UPN/ULN advanced search for pupils who have either joined, or are going to join my local authority / academy trust / establishment. I understand that all such searches are logged</li>
</ul>
<p class="govuk-body">For full terms of use, please use the link in the footer below.</p>

<form asp-controller="Consent" asp-action="Index" method="POST">
    <div class="govuk-form-group @(Model.HasError ? "govuk-form-group--error" : "")">
        <fieldset class="govuk-fieldset">
            @if (Model.HasError)
            {
                <p id="consent--errormessage--text" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Select if you have read and understood the conditions
                </p>
            }

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" asp-for="ConsentGiven" name="ConsentGiven" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label" for="consent--confirm--chkbox">
                        I confirm that I have read and understood the conditions
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        Continue
    </button>
</form>
