@if (!User.IsOrganisationEstablishmentWithFurtherEducation())
{
    <li class="govuk-service-navigation__item">
        <a class="govuk-service-navigation__link" asp-controller="@Global.PPLearnerNumberSearchController" asp-action="PupilPremium" id="header--search-pp--link">
            Search pupil premium
        </a>
    </li>
}
