@model LearnerTextSearchViewModel

@if (Model.Learners.Count() == 0)
{
    <div>
        <p class="govuk-body-l">No results have been found in our database. Please modify your search/filter criteria and try again.</p>
    </div>
}
