@model LearnerTextSearchViewModel

<div class="govuk-button-group">
    <button class="govuk-button" asp-action="ToDownloadSelectedFEDataULN" name="downloadASCSV" value="selected" type="submit">
        @Model.DownloadSelectedLink
    </button>
</div>

