@if (ViewData.ModelState.IsValid)
{
    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button" asp-action="ToDownloadSelectedPupilPremiumDataUPN" name="downloadPP" value="selected">
            @Model.DownloadSelectedLink
        </button>

        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-action="PPAddToMyPupilList" name="myPupilList" value="selected">
            @Model.AddSelectedToMyPupilListLink
        </button>
    </div>
}

