@model NewsViewModel
@{
    ViewData["Title"] = "News";
}

<h1 class="govuk-heading-xl" id="news--heading--text">News</h1>

@await Component.InvokeAsync(ReleaseTimetableViewComponent.Name)

@if (Model is null || Model.NewsArticles.Any() is false)
{
    <p class="govuk-body">
        No news articles found.
    </p>
}
else
{
    <partial name="_NewsArticles" model="@Model" />
}
