@model GlossaryViewModel

<table class="govuk-table">
    <tbody class="govuk-table__body" id="help--metadata-files--table">
        @for (var i = 0; i < Model.PreparedMetadataFiles.Count(); i++)

        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <a asp-action="GetBulkUploadTemplateFile" asp-controller="Glossary" asp-route-name="@Html.Raw(Model.PreparedMetadataFiles[i].FileName)" class="govuk-link govuk-link--no-underline" id="downloads--downloads-data-link--link-@i" download>@Html.Raw(Model.PreparedMetadataFiles[i].FileName)</a>
                </td>
                <td class="govuk-table__cell">@Html.Raw(Model.PreparedMetadataFiles[i].DisplayDate)</td>
            </tr>
        }
    </tbody>
</table>
