@model ManageDocumentsViewModel

@{
    ViewBag.Title = "Edit news article";
}

<div class="govuk-width-container">

    <h1 class="govuk-heading-xl">Edit news article</h1>
    @if (Model != null && Model.DocumentData != null)
    {
        <form method="post">
            <partial name="_ValidationSummary" model="ViewData.ModelState" />

            <input type="hidden" asp-for="@Model.SelectedNewsId" />
            <input type="hidden" asp-for="@Model.DocumentData.Id" />

            <div class="govuk-checkboxes webapp-news-status-container" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="DocumentData_Pinned" asp-for="DocumentData.Pinned" name="DocumentData.Pinned" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label" for="DocumentData_Pinned">Pinned</label>
                </div>

                <div class="govuk-checkboxes__item govuk-!-margin-bottom-4">
                    <input class="govuk-checkboxes__input" id="DocumentData_Published" asp-for="DocumentData.Published" name="DocumentData.Published" type="checkbox">
                    <label for="DocumentData_Published" class="govuk-label govuk-checkboxes__label">Published</label>
                </div>

                <div class="govuk-checkboxes__item govuk-!-margin-bottom-4">
                    <input class="govuk-checkboxes__input" id="DocumentData_Archived" asp-for="DocumentData.Archived" name="DocumentData.Archived" type="checkbox">
                    <label for="DocumentData_Archived" class="govuk-label govuk-checkboxes__label">Archived</label>
                </div>
            </div>

            <partial name="~/Views/Admin/ManageDocuments/_DocumentFields.cshtml" for="DocumentData" />

            <div class="govuk-button-group">
                <a asp-controller="ManageDocuments" asp-action="ManageDocuments" id="discard-news-article--button" name="discard" value="Discard" class="govuk-button govuk-button--secondary">Discard</a>
                <button asp-controller="ManageDocuments" asp-action="DeleteNewsArticle" id="delete-document--button" name="delete" value="Delete" type="submit" class="govuk-button govuk-button--secondary">Delete</button>
                <button asp-controller="ManageDocuments" asp-action="UpdateNewsArticle" id="update-document--button" name="update" value="Update" type="submit" class="govuk-button">Update</button>
            </div>
        </form>
    }
</div>
